## Introduction to String
   ### Topics to be covered
   * [Creating String and assigning to variable](#string_creation)
   * [Concatenation of strings](#string_concat) 
   * [Length of a string](#string_length)
   * [String Indexing](#string_index)
   * [String Slicing](#string_slice)
   * [Splitting String](#string_spliting)
   * [Some common practices](#string_function)
   * [String reversing](#string_reverse)
   * [String Mutation](#string_mutation)

<a id='string_creation'></a>
### Creating String and assigning to variable

In [4]:
your_string = "Hello, World!"
print(your_string)

Hello, World!

In [5]:
# Creating Strings in Python
school = "Stony Brook University"
print(f"We all are from {school}")

We all are from Stony Brook University

<a id='string_concat'></a>
### String Concatenation

In [13]:
# Try concatenating two strings
string1 = "Stony"
string2 = "Brook"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Stony Brook

In [8]:
# String Concatenation
department = "Biology"
print(f"The {department} department at {school} is great!")

The Biology department at Stony Brook University is great!

In [11]:
print("The ", department ,"department at " , school ,"is great!")

The  Biology department at  Stony Brook University is great!

<a id="string_length"></a> 
### Length of a string

In [17]:
word =" Stony Brook University"
word1 = "Stony"
word2 = "Stony "
word3 = " Stony Brook "

In [15]:
len(word)

23

In [16]:
len(word1)

6

In [18]:
len(word2)

6

<a id='string_index'></a>
### String Indexing

In [21]:
school = "Stony Brook university"
print("The first letter of our university name is.", school[0])

The first letter of our university name is. S

<a id='string_slice'></a>
### String Slicing

In [25]:
# String Slicing
ship = "Millennium Falcon"
character1 = "Neo"


first_eight_letters = ship[:8]
print(f"The first eight letters of the ship name are {first_eight_letters}.")

# Can you find the first four letters of your favorite Sci-Fi character?
first_four_letters = character1[:4]
print(f"The first four letters of my favorite Sci-Fi character are {first_four_letters}.")

The first eight letters of the ship name are Millenni.
The first four letters of my favorite Sci-Fi character are Neo.

<a id=string_spliting></a>
### String Splitting

In [26]:
# Basic example of splitting a string by spaces using a quote from Star Wars
quote = "May the Force be with you."
words = quote.split(" ")
print(f"Original quote: {quote}")
print(f"Splitted into words: {words}")

Original quote: May the Force be with you.
Splitted into words: ['May', 'the', 'Force', 'be', 'with', 'you.']

In [27]:
csv_movies = "The Godfather,Star Wars,Inception"
movie_list = csv_movies.split(",")
movie_list

['The Godfather', 'Star Wars', 'Inception']

<a id=string_function></a>
### Common String operations

In [31]:
# String Methods
print(f"Upper case: {school.upper()}")
print(f"Lower case: {school.lower()}")

Upper case: STONY BROOK UNIVERSITY
Lower case: stony brook university

<a id=string_reverse></a>
### String Reverse

In [45]:
dna_sequence = "GATCGATCGATCGATCGATC"
reversed_dna = dna_sequence[::-1]
print(f"Original DNA sequence: {dna_sequence}")
print(f"Reversed DNA sequence: {reversed_dna}")

Original DNA sequence: GATCGATCGATCGATCGATC
Reversed DNA sequence: CTAGCTAGCTAGCTAGCTAG

<a div=string_mutation></a>
## Mutation
* In the context of the human genome sequence, a mutation refers to any change or alteration in the DNA sequence. These changes can occur naturally during DNA replication or as a result of various external factors, such as exposure to mutagenic agents or errors in DNA repair mechanisms. Mutations can affect a single nucleotide (point mutation) or involve the insertion, deletion, or rearrangement of larger segments of DNA.

### Get the mutation positions

In [46]:
mutation_positions = [2, 7, 12]
mutated_nucleotides = ["T", "G", "C"]

### Function for mutated sequece

In [47]:
def apply_mutation(genome_sequence, mutation_positions, mutated_nucleotides):
    mutated_sequence = genome_sequence
    for position, nucleotide in zip(mutation_positions, mutated_nucleotides):
        if position < 0 or position >= len(genome_sequence):
            raise ValueError(f"Invalid mutation position: {position}. Position must be within the genome sequence.")
        mutated_sequence = mutated_sequence[:position] + nucleotide + mutated_sequence[position + 1:]
    
    return mutated_sequence

In [49]:
mutated_sequence = apply_mutation(dna_sequence, mutation_positions, mutated_nucleotides)
print("Original genome sequence:", dna_sequence)
print("Mutated genome sequence:", mutated_sequence)

Original genome sequence: GATCGATCGATCGATCGATC
Mutated genome sequence: GATCGATGGATCCATCGATC